@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Great+Vibes&display=swap');

html, body {
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #3d2e2e;
  background-color: #fffafc;
  font-weight: 400;
}

@media (max-width: 768px) {
  .countdown-wrapper {
    padding: 2rem 1rem;
  }
}

@media (max-width: 1024px) {
  .navbar-list {
    font-size: 20px;

  }
  .parallax-section-2 {
    
    display: grid !important;
   
  }

}