.container {
  width: 90%;
  margin: 4rem auto;
  padding: 2rem;
  background-color: #fff8f0;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
}

.heading {
  font-family: "Lavishly Yours", cursive;
  font-size: 2.5rem;
  color: #8B4513;
  margin-bottom: 2rem;
}

.locations {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.image {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.title {
  font-size: 2rem;
  font-weight: 300;
  color: #5C4033;
  margin-bottom: 0.25rem;
  font-family: "Lavishly Yours", cursive;
}

.description {
  font-family: "Lavishly Yours", cursive;
  font-style: italic;
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
}

.button {
  display: inline-block;
  background-color: #deb887;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #cfa16a;
}

/* Responsive */
@media (min-width: 768px) {
  .locations {
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }

  .card {
    width: 300px;
  }
}
